# Wistia API ingestion
requests==2.33.0
tenacity==9.1.4
python-dotenv==1.2.2
pydantic==2.12.5
pydantic-settings==2.13.1
PyYAML==6.0.3

# AWS integration and infrastructure
boto3==1.42.83
aws-cdk-lib==2.248.0
constructs==10.6.0

# Local transformation/testing support
pandas==2.1.4
pyarrow==23.0.1
pyspark==3.5.6

# Optional dashboard/reporting
streamlit==1.55.0
plotly==6.6.0

# Tests
pytest==9.0.2
